@page
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layoutless.cshtml";
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 class="mb-2">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />

        <form id="change-password-form" method="post" class="mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                <p>
                    <a id="forgot-password" asp-page="./Admin/Index"> Remind me later</a>
                </p>
            </div>            
        </form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
