@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xsrf

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Form /</span> List</h4>

<input type="hidden" class="required-entry" id="RequestVerificationToken" name="RequestVerificationToken" value="@xsrf.GetAndStoreTokens(Context).RequestToken" />
<div class="row g-4">
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card h-100">
            <div class="row h-100">
                <div class="col-sm-5">
                    <div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-3">
                        <img src="~/lib/design/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="card-body text-sm-end text-center ps-sm-0">
                        <button class="btn btn-primary mb-3 text-nowrap add-new-role" id="AddForm" data-has="">Add New</button>
                        <p class="mb-0">Add Application Forms,if it does not exist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header border-bottom">
            </div>
            <div class="card-datatable table-responsive">

                <table class="datatables-users table border-top dataTable no-footer dtr-column" id="Formslist">
                    <thead>
                        <tr>
                            <th>Identity #</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Level Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-5">Add or Edit Form</h3>
                </div>
                <form id="enableFormForm" class="row g-3" novalidate>
                    <input class="required-entry" data-id="ID" id="ID" type="hidden" value="0" />
                    <input type="hidden" class="required-entry" id="RequestVerificationToken" name="RequestVerificationToken" value="@xsrf.GetAndStoreTokens(Context).RequestToken" />
                     <hr />
                    <div class="row">
                      
                        <div class="col-sm-6">
                            <label class="form-label">Select Level 2</label>
                            <select id="ddL2" class="form-select">
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Select Level 3</label>
                            <select id="ddL3" class="form-select">
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Select Category </label>
                            <select id="ddD" class="form-select">
                            </select>
                        </div>
                          <div class="col-sm-6">
                            <label class="form-label"> Name *</label>
                        <input type="text" id="Name" class="form-control required-entry" onkeypress="return fn.Characters(event, 49)" placeholder="example : Personal Loan Form" />
                       </div>
                    </div>                    
                    <hr />
                    <div class="col-12">
                        Status
                        <label class="switch switch-primary switch-lg">
                            <input type="checkbox" id="IsActive" class="switch-input required-entry" checked="">
                            <span class="switch-toggle-slider">
                                <span class="switch-on">
                                    <i class="bx bx-check"></i>
                                </span>
                                <span class="switch-off">
                                    <i class="bx bx-x"></i>
                                </span>
                            </span>
                            <span class="switch-label">Un-Lock</span>
                        </label>
                    </div>
                    <hr />
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">
                            <span class="spinner-border hidethis" role="status" aria-hidden="true" id="spinner"></span>
                            Save Changes
                        </button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close" data-form="enableFormForm">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        Events.Form(@User.FindFirst("ProjectID").Value);       
    </script>
}