@page
@model AccessDeniedModel
@{
    Layout = "~/Views/Shared/_Layoutless.cshtml";
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
     <a id="forgot-password" asp-page="./login"> <i class="menu-icon tf-icons bx bx-log-in-circle"></i> Click here to login </a>
</header>
