@page
@model RegisterConfirmationModel
@{
    Layout = "~/Views/Shared/_Layoutless.cshtml";
}

<div class="app-brand justify-content-center">
    <a href="#" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
        </span>
        <span class="app-brand-text demo text-body fw-bolder">Dms-World</span>
    </a>
</div>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

